<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <ul>
            <li>
                <%= error %>
            </li>
        </ul>
    <% end %>
<% end %>

<% if current_user %>
    <a href="/users/logout">Logout</a>
<% end %>
<h1>Hello, <%= current_user.first_name %>!</h1>
<p>Here are some of songs in our hub:</p>
<table border="1", width="500", cellpadding="10">
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>No Times Song Has Been Added</th>
    <th>Add to Playlist</th>
  </tr>
<% @songs.each do |song| %>
<tr>
    <td><%= song.artist %></td>
    <td><a href="/songs/<%= song.id %>"><%= song.title %></a></td>
    <td><% 1 %></td>
    <td><input type="submit" value ="Add to Playlist"></type></td>
</tr>
<% end %>
</table><br><br>
Add a Song:
<br><br>
  <form action="/songs" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Artist: <input type="text" name="song[artist]" value=""><br><br>
    Title:<input type="text" name="song[title]" value=""><br><br>
    </select>
    <input type="submit" name="" value="Add Song">
</form>